.banner{
	width: 100%;
	max-width: 1300px;
	margin: auto;
	/* border: 1px solid red; */
	display: flex;
	/* flex-wrap: wrap; */
	justify-content: space-between;
	margin-top: 30px;
}

.swiper {
    width: 100%;
    height: auto;
	/* padding: 0px 20px; */
	/* background-color:#05142d; */
}  
.smallBanner{
	width: 17%;
    height: auto;
    /* border: 1px solid green; */
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
	align-content: space-between;
}

.smallBannerLi{
	width: 100%;
	height: 100px;
	/* border: 1px solid green; */
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.smallBannerLi img{
	width: 75px;
	height: 90px;
	border-radius: 10px;
}

.smallBannerLi p{
	width: calc((100% - 75px - 10px));
	color: #000;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.swiper-slide::after {
	/* content: ""; */
    position: absolute;
    top: 0;
	left: 0;
    width: 80%;
    height: 100%;
    /* z-index: 0; */
    opacity: 0.6;
    background: linear-gradient(270deg, rgba(11, 11, 11, 0) 0%, #0B0B0B 100%, #0B0B0B 100%);
}
.swiper-slide{
	/* width: 120px !important; */
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	/* padding: 20px 10px; */
	cursor:grab;
	position: relative;
	/* padding: 50px; */
  }

  .swiper-slide img{
	width: 100%;
	height: 230px;
	margin-bottom: 10px;
	border-radius: 10px;
	border-radius: 10px;
	/* margin-right: 20px; */
  }

  .swiper-slide .iconimg{
	margin-right: 10px;
  }
  .swiper-slide p{
	/* width: 40%; */
	/* text-align: center; */
	font-weight: 600;
	/* font-size: 30px; */
	color: #000;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	/* position: absolute; */
	/* bottom: 70px; */
	/* left: 30px; */
	z-index: 10;
  }

  .swiper-slide .desc{
     font-size: 14px;
	 font-weight: 500;
	 /* position: absolute; */
	 /* bottom: 30px; */
  }
.swiper-slide{
	overflow: hidden;
  }
  .swiper{
	--swiper-theme-color: #ee4623;
  }
  .swiper-pagination-bullet-active{
	width: 20px !important;
	height: 8px !important;
	border-radius: 10px;
	opacity: 1 !important;
  }

@media screen and (max-width:960px) {
	.swiper-slide{
		overflow: hidden;
	  }
	  .swiper{
		--swiper-theme-color: #ee4623;
	  }
	  .swiper-pagination-bullet-active{
		width: 20px !important;
		height: 8px !important;
		border-radius: 10px;
		opacity: 1 !important;
	  }
}